{% extends base_template %}

{% load markdown %}

{% block title %}Violet Kester - Projects - {{ project.title }}{% endblock %}

{% block main %}

<img
  src="{{ project.logo.url }}"
  class="project-logo mx-auto mb-4"
  alt="{{ project.title }} logo">

<h1 class="mb-5">{{ project.title }}</h1>
<h5 class="mb-5">{{ project.subtitle }}</h5>

<section class="container-fluid text-left">

  <div class="row">
    <!-- Screenshots -->
    <div class="col-md-6">
      <h4 class="tiny-header py-3 mt-0 border-bottom">Screenshots</h4>
      {% include './screenshot_carousel.html' %}
    </div>

    <div class="col-md-6">
      <!-- Tech stack -->
      <h4 class="tiny-header py-3 mt-md-0 border-bottom">Tech stack</h4>
      {% include './technologies_list.html' %}
      <!-- Links -->
      <h4 class="tiny-header py-3 mt-md-0 border-bottom">Links</h4>
      {% include './link_buttons.html' %}
    </div>
  </div>

  <!-- Overview -->
  <div>
    <h4 class="tiny-header pb-3 border-bottom">Overview</h4>
    {{ project.overview|markdown }}
  </div>

  <!-- Features -->
  <div>
    <h4 class="tiny-header pb-3 border-bottom">Features</h4>
    {{ project.features|markdown }}
  </div>

  <!-- Structure -->
  {% if project.structure %}
    <div>
      <h4 class="tiny-header pb-3 border-bottom">Project structure</h4>
      {{ project.structure|markdown }}
    </div>
  {% endif %}

</section>

{% endblock %}