{% extends base_template %}

{% load markdown %}

{% block title %}Violet Kester - Projects - {{ project.title }}{% endblock %}

{% block main %}

<h1 class="mb-5">{{ project.title }}</h1>
<h5 class="fst-italic mb-0">{{ project.subtitle }}</h5>

<div class="py-3">
  {% include './link_buttons.html' %}
</div>

<img
  src="{{ project.logo.url }}"
  class="project-logo mx-auto my-3"
  alt="{{ project.title }} logo">

<section class="container-fluid text-left">

  <div class="row">

    <!-- Screenshots -->
    <div class="col-md-6">
      <h4 class="tiny-header py-3 mb-2 mt-0 border-bottom">Screenshots</h4>
      {% include './screenshot_carousel.html' %}
    </div>

    <!-- Tech Stack -->
    <div class="col-md-6">
      <h4 class="tiny-header py-3 mb-2 mt-md-0 border-bottom">Tech stack</h4>
      {% include './technologies_list.html' %}
    </div>
  </div>

  <!-- Overview -->
  <div>
    <h4 class="tiny-header pb-3 mb-2 border-bottom">Overview</h4>

      {{ project.overview|markdown}}

  </div>

  <!-- Features -->
  <div>
    <h4 class="tiny-header pb-3 mb-2 border-bottom">Features and challenges</h4>

      {{ project.features|markdown }}

  </div>

</section>

{% endblock %}