{% load markdown %}

<!-- Projects -------------------------------->

<div class="container">
  <div class="card-group row row-cols-1">

    {% for project in projects %}
    <div class="col p-3 border-top">
      <div class="card project-card">
        <div class="row row-cols-1 row-cols-sm-2">

          <!-- Project images  -->

          <div class="col p-3 d-flex align-items-center">
            {% include './screenshot_carousel.html' %}
          </div>

          <!-- Project details  -->

          <div
            class="col p-3"
            hx-get="{{ project.get_absolute_url }}"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-push-url="true"
            style="cursor: pointer">
              <div class="card-body h-100 d-flex flex-column p-0">

                {% include './link_buttons.html' %}

                <div class="flex-grow-1 d-flex flex-column justify-content-center px-3 pt-3 pb-0">

                  <img
                    src="{{ project.logo.url }}"
                    class="project-logo mx-auto mb-4"
                    alt="{{ project.title }} logo">

                  <h3 class="card-title mb-3">{{ project.title }}</h3>

                  <div class="card-text">
                    {{ project.summary|markdown|truncatewords_html:30 }}
                  </div>

                  {% include './technologies_list.html' %}

                </div>

              </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>