asgiref==3.7.2
Django==5.0
django-htmx==1.17.2
django-taggit==5.0.1
django-template-partials==23.4
Markdown==3.5.1
Pillow==10.1.0
psycopg2==2.9.9
Pygments==2.17.2
python-dotenv==1.0.0
sqlparse==0.4.4
typing_extensions==4.9.0
