<form
  hx-post="{% url 'blog:post_search' %}"
  hx-target="#content"
  hx-swap="innerHTML show:window:top"
  _="on submit toggle between .slide-down and .slide-up on #sidebar">
    <div class="d-flex ml-2">
      <input
        type="search"
        class="form-control"
        name="query"
        placeholder="Search posts..."
        hx-post="{% url 'blog:post_search' %}"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-trigger="keyup changed delay:500ms">
      <button type="submit" class="btn navbar-btn ml-2 pl-1">
        <i class="bi-search text-primary" style="font-size: 1.8rem;"></i>
      </button>
    </div>
</form>