<form hx-post="{% url 'blog:post_search' %}" hx-target="#content">
  <div class="d-flex ml-1">
    <input
      type="search"
      class="form-control"
      name="query"
      placeholder="Search posts..."
      hx-post="{% url 'blog:post_search' %}"
      hx-target="#content"
      hx-swap="outerHTML"
      hx-trigger="keyup changed delay:500ms, search">
    <button
      type="submit"
      class="btn btn-nav ml-2">
        <img src="/static/img/icons/search.png"/>
    </button>
  </div>
</form>