{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - About - Web Development & Design{% endblock %}

{% block main %}

<h1 class="mb-5">About</h1>

<p>
  Thanks for visiting my website! I'm Violet, and I'm a software developer living in Greenville, South Carolina.
</p>

<figure>
  <img src="{% static 'img/photos/violet-hiking_trip-1800x900.jpg' %}"
    alt="Violet">
  <figcaption>
    Butterfly Festival (detail) - Charles Burchfield
  </figcaption>
</figure>

  In 2023, I graduated from Rithm School’s full-stack web development bootcamp, where I was engaged in each stage of the software development lifecycle, from ideation and prototyping to testing and deployment. I gained experience building web applications using JavaScript and Python frameworks such as React, Flask, Express, and Django. It was like gaining a super power: the ability to create any tool imaginable in the form of a software application.
</p>
<p>
  After receiving my BFA in Painting & Drawing from the University of Georgia, I taught English for two years at Jeonju Elementary School in Jeonju, South Korea.
  I returned to the United States and moved to Atlanta where I started working in restaurants and volunteering during my free time.
  Primarily, I taught art to individuals overcoming homelessness through Central Outreach and Advocacy Center's Art Ministry program after reading about it <a href="https://www.wabe.org/atlantas-homeless-men-finding-peace-art-class/" target="_blank">in the news</a>.
</p>
<p>
  At home, I am a lover of books, music, food, video games, and the great outdoors.
</p>


{% endblock %}