{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - About - Web Development & Design{% endblock %}

{% block main %}

<h1 class="mb-5">about</h1>

<p>
  This is the about page.<br />
  Quisque id diam vel quam elementum pulvinar etiam.
</p>
<img
  src="{% static 'img/photos/violet-brooklyn_bridge.jpg' %}"
  class="p-3 mb-4 rounded-circle w-75"
  alt="Violet on the Brooklyn Bridge">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua. Tortor id aliquet lectus proin nibh nisl condimentum.
</p>
<p>
  Id faucibus nisl tincidunt eget nullam non nisi est sit. Eget felis eget nunc lobortis mattis aliquam. Magna sit
  amet purus gravida quis blandit. Congue quisque egestas diam in. Quisque id diam vel quam elementum pulvinar etiam
  non. Aliquam malesuada bibendum arcu vitae elementum. Tincidunt tortor aliquam nulla facilisi cras fermentum. Eu
  sem integer vitae justo eget magna fermentum iaculis eu. In dictum non consectetur a erat nam at lectus urna. Elit
  eget gravida cum sociis natoque. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Risus quis varius quam
  quisque id diam. Fermentum iaculis eu non diam phasellus vestibulum. A pellentesque sit amet porttitor eget.
  Congue quisque egestas diam in arcu cursus euismod quis viverra. A cras semper auctor neque vitae tempus. Commodo
  quis imperdiet massa tincidunt nunc pulvinar sapien et.
</p>
<p>
  Elit ullamcorper dignissim cras tincidunt. Urna nec tincidunt praesent semper. Egestas egestas fringilla phasellus
  faucibus.
</p>
<p>
  Vitae tempus quam pellentesque nec nam aliquam sem et. Et odio pellentesque diam volutpat commodo sed. Nibh tellus
  molestie nunc non blandit massa enim nec. Vehicula ipsum a arcu cursus vitae congue mauris. In fermentum et
  sollicitudin ac orci phasellus egestas. Commodo viverra maecenas accumsan lacus vel facilisis. Tempor id eu nisl
  nunc mi ipsum faucibus. Arcu cursus vitae congue mauris rhoncus. Cras adipiscing enim eu turpis egestas pretium
  aenean pharetra magna. Non nisi est sit amet facilisis. Neque volutpat ac tincidunt vitae semper quis lectus
  nulla. Amet nisl purus in mollis nunc. Odio ut sem nulla pharetra diam sit amet nisl suscipit.
</p>


{% endblock %}