{% extends base_template %}

{% block title %}Violet Kester - Web Development & Design{% endblock %}

{% block main %}

<div
  id="welcome"
  class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div>
      <h1
        class="large-header mb-3"
        _="on load transition my opacity to 1 over 3s">
          Welcome
      </h1>
      <p _="on load wait 1s then transition my opacity to 1 over 3s">
        This is the website homepage.
      </p>
      <p _="on load wait 2s then transition my opacity to 1 over 3s">
        Lorem <em>ipsum</em> dolor sit amet, consectetur adipiscing elit,<br/>
        sed do <code>eiusmod tempor</code> incididunt ut labore et dolore
        magna aliqua.<br/>
        Tortor id aliquet <code>lectus proin</code>
        nibh <em>nisl condimentum</em>.
      </p>
    </div>
</div>

{% endblock %}