{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - Web Development & Design{% endblock %}

{% block main %}

  <div id="welcome">

        <img
          src="{% static 'img/logos/portfolio-logo-900x668px.png' %}"
          class="mb-4"
          alt="Logo"
          _="on load transition opacity to 1 over 3s">

        <h1
          class="mb-0"
          _="on load transition opacity to 1 over 2.5s">
            Welcome
        </h1>

        <div>
          <a
            class="tiny-header fade-to-teal stronger"
            hx-get="{% url 'projects:homepage' %}"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-push-url="true"
            _="on load wait 0.5s then transition opacity to 1 over 2.5s">
              Portfolio Website
          </a>
          <a
            class="tiny-header fade-to-teal stronger"
            hx-get="{% url 'blog:homepage' %}"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-push-url="true"
            _="on load wait 1s then transition opacity to 1 over 2.5s">
            | Web Development & Design Blog
          </a>
        </div>

        <!-- <p _="on load wait 3s then transition opacity to 1 over 3s">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br/>
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.<br/>
          Tortor id aliquet lectus proin
          nibh nisl condimentum.
        </p> -->

  </div>


{% endblock %}