{% load static %}

<nav class="navbar glassy sticky-top p-3">
  <div class="container-fluid justify-content-between">

    <!-- Logo ---------------------------------->
    <span
      class="navbar-brand"
      hx-get="{% url 'core:homepage' %}"
      hx-target="#content"
      hx-swap="outerHTML"
      hx-push-url="true"
      style="cursor: pointer;">
        <img src="{% static 'img/logo-square.png' %}" alt="Logo" height="35px">
    </span>

    <span class="nav-name d-none d-sm-block text-primary">Violet Kester</span>

    <!-- Sidebar toggler --------------------->
    <button
      class="btn btn-outline-primary"
      aria-label="Toggle sidebar"
      _="on click toggle between .slide-down and .slide-up on #sidebar">
        <i class="bi-x-lg"></i>
    </button>

  </div>
</nav>