<div id="navbar-page-links" class="w-100 d-flex justify-content-center align-items-center">
  <ul class="d-flex flex-grow-1 justify-content-center text-primary m-0 p-0">
    <li
      class="navbar-page-link py-0 px-2 px-sm-4 justify-content-center"
      hx-get="{% url 'projects:homepage' %}"
      hx-target="#content"
      hx-swap="outerHTML show:window:top"
      hx-push-url="true"
      _="on htmx:afterOnLoad take .focus for event.target">
        <button
          class="d-inline-block rounded-circle mr-3"
          style="background-color:#E6330B">
        </button>
        <span class="fade-to-teal small">Projects</span>
    </li>
    <li
      class="navbar-page-link py-0 px-2 px-sm-4 justify-content-center"
      hx-get="{% url 'core:resume' %}"
      hx-target="#content"
      hx-swap="outerHTML show:window:top"
      hx-push-url="true"
      _="on htmx:afterOnLoad take .focus for event.target">
        <button
          class="d-inline-block rounded-circle mr-3"
          style="background-color:#FFC107">
        </button>
        <span class="fade-to-teal small">Resume</span>
    </li>
    <li
      class="navbar-page-link py-0 px-2 px-sm-4 justify-content-center"
      hx-get="{% url 'core:about' %}"
      hx-target="#content"
      hx-swap="outerHTML show:window:top"
      hx-push-url="true"
      _="on htmx:afterOnLoad take .focus for event.target">
        <button
          class="d-inline-block rounded-circle mr-3"
          style="background-color:#85FFE4">
        </button>
        <span class="fade-to-teal small">About</span>
    </li>
    <li
      class="navbar-page-link py-0 px-2 px-sm-4 justify-content-center"
      hx-get="{% url 'blog:homepage' %}"
      hx-target="#content"
      hx-swap="outerHTML show:window:top"
      hx-push-url="true"
      _="on htmx:afterOnLoad take .focus for event.target">
        <button
          class="d-inline-block rounded-circle mr-3"
          style="background-color:#5F1FCF">
        </button>
        <span class="fade-to-teal small">Blog</span>
    </li>
  </ul>
</div>