{% load static %}

<nav class="navbar glassy d-flex flex-col sticky-top p-3">
  <div class="navbar-upper container-fluid d-flex justify-content-between align-items-center">

    <!-- Navbar logo --------------------------->

    <div
      class="navbar-btn"
      hx-get="{% url 'core:homepage' %}"
      hx-target="#content"
      hx-swap="outerHTML show:window:top"
      hx-push-url="true"
      _="on htmx:afterOnLoad take .focus for event.target">
        <img
          src="{% static 'img/logos/portfolio-logo-240px.png' %}"
          alt="Logo"
          style="width: 3rem;">
    </div>

    <!-- Navbar title --------------------------->

    <div class="navbar-title large-header d-flex align-items-center">
      <span class="text-primary fw-light">Violet Kester</span>
    </div>

    <!-- Sidebar toggler ----------------------->

    <div
      class="navbar-btn"
      aria-label="Toggle sidebar"
      _="on click toggle between .slide-up and .slide-down on #sidebar">
        <img src="{% static 'img/icons/list.png' %}" style="width: 3rem;">
    </div>

  </div>

  <!-- Links to pages -------------------------->

  {% include './navbar_page_links.html' %}

</nav>