{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - Software Engineer - Resume{% endblock %}

{% block main %}

<h1 class="mb-5">resume</h1>

<a
  class="btn btn-outline-primary mb-3"
  href="{% static 'Violet Kester - Software Engineer - Resume.pdf' %}"
  target="_blank">
    <i class="bi-filetype-pdf mr-1"></i> Open PDF
</a>

<embed
  src="{% static 'Violet Kester - Software Engineer - Resume.pdf'%}#view=Fit"
  type="application/pdf"
  class="pdf">
</embed>

{% endblock %}