{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - Software Engineer - Resume{% endblock %}

{% block main %}

<h1 class="mb-5">Resume</h1>

<!-- Buttons/links ----------------------------->

<div class="text-sm text-md-right">
  <a
    class="btn btn-outline-primary"
    href="https://www.linkedin.com/in/violetkester/"
    target="_blank">
      <i class="bi-linkedin mr-1"></i> LinkedIn
  </a>

  <a
    class="btn btn-outline-primary"
    href="https://github.com/violet-kester"
    target="_blank">
      <i class="bi-github mr-1"></i> GitHub
  </a>

  <a
    class="btn btn-outline-primary"
    href="{% static 'Violet Kester - Software Engineer - Resume.pdf' %}"
    target="_blank">
      <i class="bi-filetype-pdf mr-1"></i> Open PDF
  </a>
</div>

<!-- Resume  ----------------------------------->

<section class="resume mt-3">
  <table>

    <!-- Technical skills ---------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Technical skills</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="bg-none px-0 px-sm-2">
          <strong>Languages</strong> - JavaScript, Python, TypeScript, SQL, HTML, CSS<br />
          <strong>Frameworks and Libraries</strong> - React, Django, Flask, Express, Node.js, jQuery, Htmx, Bootstrap, Tailwind CSS<br />
          <strong>Testing Frameworks</strong> - React Testing Library, Jest, Jasmine, Unittest<br />
          <strong>Databases and Persistence</strong> - PostgreSQL, AWS S3, SQLAlchemy<br />
          <strong>Tools and Technologies</strong> - Git, GitHub, Insomnia, Figma<br />
        </td>
      </tr>
    </tbody>

    <!-- Engineering experience ---------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Engineering experience</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2023
        </td>
        <td class="col-9 px-4">
          <strong>Software Engineer Intern</strong>, Rithm School
          <ul class="mt-2">
            <li>
              Contributed to the Student Information System (SIS), a production
              learning management system with over 80,000 lines of code.
            </li>
            <li>
              Collaborated with an Agile team of engineers by engaging in
              daily standups, pair programming, and story point estimation.
            </li>
            <li>
              Developed an announcements app with an admin page for
              displaying and managing updates for various cohorts.
            </li>
            <li>
              Wrote Slack integration to automate reminders to lecturers
              regarding unpublished lectures.
            </li>
            <li>
              Ensured reliability of code by maintaining 98% test coverage
              through comprehensive testing of features.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          San Francisco,<br>
          CA
        </td>
      </tr>
    </tbody>

    <!-- Technial projects --------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Technical Projects</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2024
        </td>
        <td class="col-9 px-4">
          <strong>Portfolio website</strong> - <span class="fst-italic">Personal website and blog</span><br>
          Django, PostgreSQL, HTMX, Hyperscript, Bootstrap
          <ul class="mt-2">
            <li>
              Implemented a full-stack blog application that allows visitors
              to search for, comment on, and browse blog posts by tag.
            </li>
            <li>
              Configured S3 and WhiteNoise storage backends, leveraging
              cloud computing services to enhance performance and scalability.
            </li>
            <li>
              Used htmx and hyperscript to update site content dynamically
              from the server, creating a seamless, SPA-like user experience.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          <a href="https://github.com/violet-kester/portfolio-website" target="_blank">GitHub</a>
        </td>
      </tr>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2023
        </td>
        <td class="col-9 px-4">
          <strong>Jobly</strong> - <span class="fst-italic">Job board application</span><br>
          Express, Node.js, React, PostgreSQL, Material UI
          <ul class="mt-2">
            <li>
              Interfaced a React single-page application with a
              RESTful backend API, facilitating real-time postings and updates.
            </li>
            <li>
              Mapped out the React component hierarchy as a blueprint for
              the development process, accounting for the essential state,
              props, and context for each component.
            </li>
            <li>
              Introduced a job search feature, enabling users to filter
              listings by various criteria via parameterized queries in routes.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          <a href="https://violetkester-jobly.surge.sh/" target="_blank">Demo</a><br>
          <a href="https://github.com/violet-kester/react-jobly" target="_blank">GitHub (frontend)</a><br>
          <a href="https://github.com/violet-kester/express-jobly" target="_blank">GitHub (backend)</a>
        </td>
      </tr>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2023
        </td>
        <td class="col-9 px-4">
          <strong>Warbler</strong> - <span class="fst-italic">Twitter clone</span><br>
          Flask, PostgreSQL, SQLAlchemy, Jinja
          <ul class="mt-2">
            <li>
              Developed and tested models and routes for efficient
              message posting, account creation, and profile editing.
            </li>
            <li>
              Designed a like/follow feature driven by database relationships,
              allowing users to personalize their newsfeeds.
            </li>
            <li>
              Implemented a robust user authentication system using bcrypt,
              sessions, and custom authorization middleware to enforce
              role-based access to content.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          <a href="https://violetkester-warbler.onrender.com/login" target="_blank">Demo</a><br>
          <a href="https://github.com/violet-kester/warbler" target="_blank">GitHub</a>
        </td>
      </tr>
    </tbody>

    <!-- Education ----------------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Education</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2023
        </td>
        <td class="col-9 px-4">
          <strong>Rithm School</strong>, Full-Stack Web Development Bootcamp
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          San Francisco,<br>
          CA
        </td>
      </tr>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2007<br>-<br>2011
        </td>
        <td class="col-9 px-4">
          <strong>The University of Georgia</strong>, BFA Painting & Drawing<br>
          <ul>
            <li>Honors: HOPE Scholarship recipient 2007-2011, <i>magna cum laude</i></li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          Athens,<br>
          GA
        </td>
      </tr>
    </tbody>

    <!-- Work experience ----------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Work experience</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-left">
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2020<br>-<br>2024
        </td>
        <td class="col-9 px-4">
          <strong>Server</strong>, Sushi Murasaki
          <ul class="mt-2">
            <li>
              Delivered top-notch customer service with attentiveness and
              professionalism in a fast-paced, high-volume work environment.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          Greenville,<br>
          SC
        </td>
      </tr>
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2012<br>-<br>2014
        </td>
        <td class="col-9 px-4">
          <strong>English teacher</strong>, Teach and Learn in Korea
          <ul class="mt-2">
            <li>
              Organized lesson plans and extracurricular activities as a
              public school instructor for students in grades 1-6.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          Jeonju,<br>
          South Korea
        </td>
      </tr>
    </tbody>

    <!-- Volunteer experience ------------------>

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Volunteer experience</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-left">
      <tr class="row p-0 m-0">
        <td class="col-1 px-0 px-sm-2">
          2016<br>-<br>2019
        </td>
        <td class="col-9 px-4">
          <strong>Art Ministry Coordinator</strong>, Central Outreach and Advocacy Center
          <ul class="mt-2">
            <li>
              Established an art program at a volunteer-governed men's shelter,
              leaving a lasting positive impact on the community.
            </li>
            <li>
              Led weekly art classes for individuals overcoming homelessness,
              coordinated volunteers, and exhibited guests' work.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-0 px-sm-2">
          Atlanta,<br>
          GA
        </td>
      </tr>
    </tbody>

  </table>
</section>

{% endblock %}