{% extends base_template %}

{% load static %}

{% block title %}Violet Kester - Software Engineer - Resume{% endblock %}

{% block main %}

<h1 class="mb-5">resume</h1>

<a class="btn btn-outline-primary mb-3" href="{% static 'Violet Kester - Software Engineer - Resume.pdf' %}"
  target="_blank">
  <i class="bi-filetype-pdf mr-1"></i> Open PDF
</a>

<section class="resume">
  <table class="table-dark col-2 col-sm-12">

    <!-- Technical skills ---------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Technical skills</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="bg-none px-1">
          <strong>Languages</strong> - JavaScript, Python, TypeScript, SQL, HTML, CSS<br />
          <strong>Frameworks and Libraries</strong> - Django, Flask, Express, React, jQuery, Bootstrap, Tailwind CSS,
          HTMX<br />
          <strong>Testing Frameworks</strong> - Jest, React Testing Library, Jasmine<br />
          <strong>Databases and Persistence</strong> - PostgreSQL, AWS S3, SQLAlchemy<br />
          <strong>Tools and Technologies</strong> - Git, GitHub, Insomnia, Figma<br />
        </td>
      </tr>
    </tbody>

    <!-- Engineering experience ---------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Engineering experience</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2023
        </td>
        <td class="col-8 col-sm-9">
          <strong>Software Engineer Intern</strong>, Rithm School
          <ul>
            <li>
              Contributed to the Student Information System (SIS), a production learning management system with over
              80,000 lines of code.
            </li>
            <li>
              Collaborated with an Agile team of engineers to plan and develop features using story points, standups,
              and pair programming.
            </li>
            <li>
              Developed an announcements app with an admin page for displaying and managing updates for various
              cohorts.
            </li>
            <li>
              Wrote Slack integration to automate reminders to lecturers regarding unpublished lectures.</li>
            <li>
              Ensured reliability of code by maintaining 98% test coverage through comprehensive testing of features.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          San Francisco,<br>
          CA
        </td>
      </tr>
    </tbody>

    <!-- Technial projects --------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Technical Projects</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="col-2 col-sm-1 px-1">
          2024
        </td>
        <td class="col-8 col-sm-9">
          <strong>Portfolio website</strong> - <span class="fst-italic">Personal website and blog</span><br>
          Django, PostgreSQL, HTMX, Hyperscript, Bootstrap
          <ul>
            <li>
              Implemented a blog application that enables users to search for, comment on, and browse blog posts by
              tag.
            </li>
            <li>
              Used HTMX to update site content dynamically from the server, creating a seamless, SPA-like user
              experience.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          <a href="https://github.com/violet-kester/portfolio-website" target="_blank">GitHub</a>
        </td>
      </tr>
      <tr class="row">
        <td class="col-2 col-sm-1 px-1">
          2023
        </td>
        <td class="col-8 col-sm-9">
          <strong>Jobly</strong> - <span class="fst-italic">Job board application</span><br>
          Express, React, PostgreSQL, Material UI
          <ul>
            <li>
              Mapped out the React component hierarchy as a blueprint for the development process, accounting for the
              essential state, props, and context for each component.
            </li>
            <li>
              Utilized RESTful API calls from the frontend to the backend to fetch and update job posting data.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          <a href="https://violetkester-jobly.surge.sh/" target="_blank">Demo</a><br>
          <a href="https://github.com/violet-kester/react-jobly" target="_blank">GitHub (frontend)</a><br>
          <a href="https://github.com/violet-kester/express-jobly" target="_blank">GitHub (backend)</a>
        </td>
      </tr>
      <tr class="row">
        <td class="col-2 col-sm-1 px-1">
          2023
        </td>
        <td class="col-8 col-sm-9">
          <strong>Warbler</strong> - <span class="fst-italic">Twitter clone</span><br>
          Flask, PostgreSQL, SQLAlchemy, Jinja
          <ul>
            <li>
              Implemented a secure JWT login and authentication system, ensuring user privacy and account protection
              and enabling the authorization of API endpoints.
            </li>
            <li>
              Performed CRUD operations on the database using SQLAlchemy ORM.
            </li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          <a href="https://violetkester-warbler.onrender.com/login" target="_blank">Demo</a><br>
          <a href="https://github.com/violet-kester/warbler" target="_blank">GitHub</a>
        </td>
      </tr>
    </tbody>

    <!-- Education ----------------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Education</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-left">
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2023
        </td>
        <td class="col-8 col-sm-9">
          <strong>Rithm School</strong>, Full-Stack Web Development Bootcamp
        </td>
        <td class="text-right col-2 px-1">
          San Francisco,<br>
          CA
        </td>
      </tr>
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2007 - 2011
        </td>
        <td class="col-8 col-sm-9">
          <strong>The University of Georgia</strong>, BFA Painting & Drawing<br>
          <ul>
            <li>Honors: HOPE Scholarship recipient 2007-2011, <i>magna cum laude</i></li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          Athens,<br>
          GA
        </td>
      </tr>
    </tbody>

    <!-- Work experience ----------------------->

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Work experience</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-left">
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2020 - 2024
        </td>
        <td class="col-8 col-sm-9">
          <strong>Server</strong>, Sushi Murasaki
          <ul>
            <li>Delivered top-notch customer service with attentiveness and professionalism in a fast-paced, high-volume
              work environment.</li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          Greenville,<br>
          SC
        </td>
      </tr>
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2012 - 2014
        </td>
        <td class="col-8 col-sm-9">
          <strong>English teacher</strong>, Teach and Learn in Korea
          <ul>
            <li>Organized lesson plans and extracurricular activities as a public school instructor for students in
              grades 1-6.</li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          Jeonju,<br>
          South Korea
        </td>
      </tr>
    </tbody>

    <!-- Volunteer experience ------------------>

    <thead>
      <tr>
        <th colspan="3" class="p-0">
          <h5>Volunteer experience</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-left">
      <tr>
        <td class="col-2 col-sm-1 px-1">
          2016 - 2019
        </td>
        <td class="col-8 col-sm-9">
          <strong>Art Ministry Coordinator</strong>, Central Outreach and Advocacy Center
          <ul>
            <li>Established an art program at a volunteer-governed men's shelter, leaving a lasting positive impact on
              the community.</li>
            <li>Led weekly art classes for individuals overcoming homelessness, coordinated volunteers, and exhibited
              guests' work.</li>
          </ul>
        </td>
        <td class="text-right col-2 px-1">
          Atlanta,<br>
          GA
        </td>
      </tr>
    </tbody>

  </table>
</section>

{% endblock %}