{% load blog_tags %}

{% load project_tags %}

<aside
  id="sidebar"
  class="slide-up col-12 col-lg-5 col-xl-4 p-3 pb-5 pb-lg-3 text-center text-lg-right">

  <div class="d-flex justify-content-between">

    <!-- Search form ----------------------------->

    <div class="flex-grow-1">
      {% include 'blog/post/forms/search_form.html' %}
    </div>

    <!-- Sidebar toggler ------------------------->

    <div
      class="navbar-btn"
      aria-label="Toggle sidebar"
      _="on click toggle between .slide-up and .slide-down on #sidebar">
        <img src="/static/img/icons/close.png"/>
    </div>

  </div>

  <!-- Sidebar content --------------------------->

  <div class="my-5 px-4 px-lg-5">

    <!-- Projects -->

    <div class="mb-5 pt-4">

      <h3 class="text-primary mb-5">Featured projects</h3>

      {% get_latest_projects 3 %}

    </div>

    <!-- Blog -->

    <div class="mb-5">

      <h3 class="text-primary my-5">Blog</h3>

      <h5 class="tiny-header">Recent posts</h5>

      {% get_latest_posts 3 %}

      <!-- Tags -->

      <h5 class="tiny-header">Tags</h5>

      {% get_all_post_tags as post_tags %}
      <ul>
        {% for tag in post_tags %}
        <li class="unstyled mb-1">
          <span
            class="tag"
            hx-get="{% url 'blog:post_list_by_tag' tag_slug=tag.slug %}"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-push-url="true"
            style="cursor:pointer"
            _="on click toggle between .slide-down and .slide-up on #sidebar">
              #{{ tag.name }}
          </span>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>

</aside>