{% extends base_template %}

{% block title %}Violet Kester - Web Development & Design - Blog{% endblock %}

{% block main %}

<h1 class="mb-5">blog</h1>

<p class="my-5">
  Hac habitasse platea dictumst vetibulum.<br />
  Leo duis ut diam quam nulla.<br />
  Integer enim neque volutpat ac. Urna id volutpat lacus laoreet
  non curabitur gravida.<br />
  Mi quis hendrerit dolor magna eget est lorem.
</p>

<div class="mt-5">
  <h5 class="text-primary">Recent posts</h5>
  {% include './post/list.html' %}
</div>

{% endblock %}