{% extends base_template %}

{% load blog_tags %}

{% load markdown %}

{% block title %}Violet Kester - Blog - {{ post.title }}{% endblock %}

{% block main %}

<!-- Blog post --------------------------------->

<article class="mb-5">

  <h1 class="mb-5">{{ post.title }}</h1>

  <ul class="d-flex justify-content-center">
    {% for tag in post_tags %}
    <li class="mx-1">
      <span
        class="tag"
        hx-get="{% url 'blog:post_list_by_tag' tag_slug=tag.slug %}"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-push-url="true"
        style="cursor:pointer">
          #{{ tag.name }}
      </span>
    </li>
    {% endfor %}
  </ul>

  <div class="d-flex justify-content-center align-items-center px-0 px-sm-5 py-3 mb-4 border-bottom border-top">
    <img
      src="{{ post.thumbnail.url }}"
      class="thumbnail-icon rounded"
      width="100%"
      alt="{{ post.title }}">
    <div class="ml-4 small">
      <span class="d-block mb-0 text-muted">
        <i class="bi-calendar-event mr-1"></i>
        Published {{ post.publish }}
      </span>
      <span class="d-block mb-0 text-muted">
        <i class="bi-person-circle mr-1"></i>
        Written by {{ post.author.first_name }} {{ post.author.last_name }}
      </span>
      <a
        class="d-block mb-0 text-primary"
        hx-get="{% url 'blog:post_share' post.slug %}"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-push-url="true"
        style="cursor: pointer">
          <i class="bi-share mr-1"></i> Share this post
      </a>
    </div>
  </div>

  <h2 class="pt-1">{{ post.summary }}</h2>

  <div class="text-left">
    {{ post.body|markdown }}
  </div>

</article>

<!-- Similar posts section --------------------->

<section class="mb-5">

  <h4 class="pb-3 mb-0 border-bottom text-primary">Similar posts</h4>

  {% if similar_posts %}
  <div class="row justify-content-center">

    {% for post in similar_posts|slice:":3" %}
    <div class="col-12 col-md-4 p-4">
        <div
          class="card faded-card"
          hx-get="{{ post.get_absolute_url }}"
          hx-target="#content"
          hx-swap="outerHTML show:window:top"
          hx-push-url="true"
          style="cursor:pointer">
            <img
              class="mx-auto card-img-top p-5"
              src="{{ post.thumbnail.url }}"
              alt="{{ post.title }}">
            <div class="card-body px-5 px-md-4 pt-0 pb-5">
              <h5 class="card-title text-light">{{ post.title }}</h5>
              <p class="card-text small">
                {{ post.body|truncatewords_html:100|markdown|striptags }}
              </p>
            </div>
        </div>
    </div>
    {% endfor %}

  </div>
  {% else %}
  <p class="text-muted">There are no similar posts yet.</p>
  {% endif %}

</section>

<!-- Comments section -------------------------->

<section>

  <h4 class="mb-3 text-primary"> Comments</h4>

  <div class="text-left">
    <ul id="comment-list">
      {% for comment in comments %}
      {% include './comment.html' %}
      {% empty %}
      <p class="pb-3 text-muted text-center">There are no comments yet.</p>
      {% endfor %}
    </ul>
  </div>

  <h6>Add a new comment</h6>

  <div id="comment-form">
    {% include './forms/comment_form.html' %}
  </div>

</section>

{% endblock %}