{% extends base_template %}

{% load blog_tags %}

{% load markdown %}

{% block title %}Violet Kester - Blog - {{ post.title }}{% endblock %}

{% block main %}

<!-- Blog post --------------------------------->

<article class="mb-5">

  <h1 class="mb-5">{{ post.title }}</h1>

  <ul class="d-flex justify-content-center">
    {% for tag in post_tags %}
    <li class="mx-1">
      <span class="tag">#{{ tag.name }}</span>
    </li>
    {% endfor %}
  </ul>

  <div class="d-flex justify-content-center align-items-center px-0 px-sm-5 py-4 mb-4 border-bottom border-top border-secondary">
    <div>
      <img
        src="{{ post.thumbnail.url }}"
        class="thumbnail-icon rounded"
        width="100%"
        alt="{{ post.title }}">
    </div>
    <div class="ml-4 small">
      <span class="d-block mb-0 text-muted">
        <i class="bi-calendar-event mr-1"></i>
        Published {{ post.publish }}
      </span>
      <span class="d-block mb-0 text-muted">
        <i class="bi-person-circle mr-1"></i>
        Written by {{ post.author.first_name }} {{ post.author.last_name }}
      </span>
      <a
        class="d-block mb-0"
        hx-get="{% url 'blog:post_share' post.slug %}"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-push-url="true">
          <i class="bi-share mr-1"></i> Share this post
      </a>
    </div>
  </div>

  <h2 class="pt-2">{{ post.summary }}</h2>

  {{ post.body|markdown }}

</article>

<!-- Similar posts section --------------------->

<section class="mb-4">

  <h4 class="mb-2 text-primary">Similar posts</h4>

  {% if similar_posts %}
  <div class="row justify-content-center p-3">

    {% for post in similar_posts|slice:":3" %}
    <div class="col-12 col-md-4 px-5 px-md-3 pb-5 pb-md-3">
        <div
          class="card"
          hx-get="{{ post.get_absolute_url }}"
          hx-target="#content"
          hx-swap="outerHTML show:window:top"
          hx-push-url="true"
          style="cursor:pointer">
            <img
              class="mx-auto card-img-top p-5"
              src="{{ post.thumbnail.url }}"
              alt="{{ post.title }}">
            <div class="card-body px-5 px-md-3 pb-5 pb-md-3 pt-0">
              <h5 class="card-title text-light">{{ post.title }}</h5>
              <p class="card-text small">
                {{ post.body|truncatewords_html:100|markdown|striptags }}
              </p>
            </div>
        </div>
    </div>
    {% endfor %}

  </div>
  {% else %}
  <p class="text-muted">There are no similar posts yet.</p>
  {% endif %}

</section>

<!-- Comments section -------------------------->

<section>

  {% with comments.count as total_comments %}
  <h4 class="pb-4 mb-4 border-bottom border-secondary text-primary">
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h4>
  {% endwith %}

  <!-- Comments -->

  <div class="pt-1 pb-3 text-left">
    <ul id="comment-list">
      {% for comment in comments %}
      {% include './comment.html' %}
      {% empty %}
      <p class="pb-3 text-muted text-center">There are no comments yet.</p>
      {% endfor %}
    </ul>
  </div>

  <!-- Comment form  -->

  <h5>Add a new comment</h5>

  <div id="comment-form">
    {% include './forms/comment_form.html' %}
  </div>

</section>

{% endblock %}