<ul class="mt-4">
  {% for post in latest_posts %}
  <li
    class="unstyled small rounded my-3"
    hx-get="{{ post.get_absolute_url }}"
    hx-target="#content"
    hx-swap="outerHTML show:window:top"
    hx-push-url="true"
    style="cursor:pointer;"
    _="on click toggle between .slide-down and .slide-up on #sidebar">
      <h6 class="mb-1 fade-to-teal">{{ post.title }}</h6>
      <span class="text-light">{{ post.publish }}</span>
      <p class="text-light">{{ post.subtitle }}</p>
  </li>
  {% endfor %}
</ul>