{% load markdown %}

{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

<!-- Posts ------------------------------------->

<div class="container">

{% for post in posts %}
  <div
    class="row justify-content-between align-items-center p-3 border-top"
    hx-get="{{ post.get_absolute_url }}"
    hx-target="#content"
    hx-swap="outerHTML show:window:top"
    hx-push-url="true"
    style="cursor: pointer">

      <!-- Post thumbnail -------------------------->

      <div class="col-3 p-3 p-lg-5">
          <img src="{{ post.thumbnail.url }}" class="w-100" alt="{{ post.title }}">
      </div>

      <!-- Post content --------------------------->

      <div class="col-9 p-3 text-right">
        <h3 class="mb-3">{{ post.title }}</h3>
        <span class="text-light small">{{ post.publish }}</span>
        <div class="text-muted small">
          {{ post.body|truncatewords_html:18|markdown|striptags }}
        </div>
      </div>

  </div>
  {% endfor %}

</div>