/* Reset ------------------------------------- */

* {
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    display: none;
}

.container-fluid {
    padding: 0;
}

ul {
    padding-inline-start: 0;
}

button:focus {
    outline: none;
}

td,
th {
    padding: 0 1rem;
}

/* Typography -------------------------------- */

body {
    font-family: 'Inter';
    letter-spacing: .075em;
}

em {
    /* `teal` theme color */
    color: #85FFE4;
    font-weight: 300;
}

h1,
h3 {
    font-family: 'Homemade Apple';
    letter-spacing: 0;
    text-transform: lowercase;
}

h4 {
    /* `primary` theme color */
    color: #FFC107;
}

h4,
h5 {
    margin-top: 2.75rem;
    margin-bottom: 1.25rem;
}

.fw-light {
    font-weight: 200;
}

strong {
    color: #e0dcd9;
    font-weight: 500;
}

.tiny-header {
    /* `primary` theme color */
    color: #FFC107;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.large-header {
    font-size: 6.5rem;
}

/* Navigation -------------------------------- */

.navbar {
    height: 6.5rem;
}

.navbar-upper {
    height: 3rem;
}

.navbar-title {
    font-size: 1.25rem;
    line-height: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-left: .75rem;
}

.navbar-btn {
    width: 3rem;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#navbar-page-links {
    width: 100vw;
    height: 1.5rem;
}

.navbar-page-link {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
}

.navbar-page-link button {
    border-radius: 50%;
    border-width: 0;
    height: 1.25rem;
    width: 1.25rem;
    max-height: 1.25rem;
    max-width: 1.25rem;
}

/* Layout ------------------------------------ */

#content {
    min-height: calc(100vh - 6.5rem);
    /* width: 100vw; */
}

#welcome {
    height: calc(100vh - 14.5rem);
    padding-bottom: 7.5rem;
}

#welcome h1,
#welcome p {
    opacity: 0;
}

#sidebar {
    /* `gray-900` theme color */
    background-color: #0d0d0d;
    /* `secondary` theme color */
    border-bottom: 1px solid #1a1a1a;
    border-radius: 1.5rem;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: scroll;
    z-index: 20;
}

#sidebar input {
    height: 3rem;
}

/* Components -------------------------------- */

button {
    letter-spacing: .075em;
}

ul li {
    list-style-type: circle;
}

.callout ul {
    margin-left: 1rem;
}

.toc li {
    list-style-type: none;
}

.toc li a {
    /* `light` theme color */
    color: #8a8a8a;
    font-size: 85%;
}

.unstyled {
    list-style-type: none;
}

.overview {
    font-size: 85%;
    text-align: left;
    margin-bottom: 1.25rem;
}

.overview p {
    margin-bottom: 0;
}

.faded-card {
    overflow: hidden;
    opacity: 45%;
    transition: opacity 0.3s ease-in-out;
    min-width: 120px;
    max-height: 375px;
    /* Vendor prefixes for mask-image */
    -webkit-mask-image: linear-gradient(to top, transparent, #1a1a1a 100px);
    mask-image: linear-gradient(to top, transparent, #1a1a1a 100px);
    background: linear-gradient(to top, transparent, #1a1a1a 100px);
}

.faded-card:hover {
    opacity: 100%;
    overflow-y: scroll;
}

.faded-card img {
    max-width: 250px;
}

.faded-card h3 {
    font-size: 1.5rem;
}

.post-thumbnail {
    border-radius: .5rem;
    width: 100%;
}

.post-thumbnail-icon {
    max-width: 6rem;
}

.project-logo {
    max-width: 64px;
}

.project-card {
    background: none;
    border: 0;
}

.project-card .card-body {
    /* `white` theme color */
    color: #f9f7f7;
}

.project-card img {
    max-height: 400px;
}

.screenshot-carousel {
    max-width: 500px;
    max-height: 750px;
}

.screenshot-carousel img {
    border-radius: 3%;
}

.technologies .list-group-item {
    background: none;
}

figure img {
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: .5rem;
}

figcaption {
    /* `muted` theme color */
    color: #5a5a5a;
    font-size: 85%;
    margin-bottom: 1.25rem;
}

.tag {
    font-size: 85%;
    /* `teal` theme color */
    color: #85FFE4;
    /* `secondary` theme color */
    background-color: #1a1a1a;
    padding: .5rem .75rem;
    border-radius: 50rem;
    cursor: pointer;
}

.callout {
    font-size: 85%;
    /* `light` theme color */
    color: #8a8a8a;
    margin-bottom: 1.25rem;
}

/* Code blocks ------------------------------- */

pre {
    background-color: none;
    color: #8a8a8a;
    text-align: left;
    padding: 1.75rem 1.5rem;
    margin: 15px 0;
    /* Enable word wrap in code blocks */
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    font-weight: 400;
    font-size: 90%;
}

code {
    font-family: 'DM Mono';
    font-weight: 600;
}

.codeblock-label {
    font-style: italic;
    font-weight: 100;
    padding-right: .5rem;
}

/* Reusme ---------------------------------- */

.resume h5 {
    text-transform: uppercase;
}

.resume tr {
    border-style: none;
}

.resume td {
    vertical-align: top;
}

/* Effects and animation ------------------- */

.glassy {
    background-color: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(9px);
    z-index: 1;
}

.fade-in {
    transition: all .3s ease-in-out;
    opacity: 1;
}

.fade-out {
    transition: all .3s ease-in-out;
    opacity: 0;
}

.slide-up {
    transition: all .6s ease-in-out;
    height: 0;
    opacity: 0;
}

.slide-down {
    transition: all .6s ease-in-out;
    opacity: 1;
}

.focus {
    transition: all .3s ease-in-out;
    /* `white` theme color */
    color: #f9f7f7;
}

.focus button {
    transition: all .3s ease-in-out;
    /* `white` theme color */
    box-shadow: 0 0 0 3px #f9f7f7;
}

.fade-to-teal:hover,
a:hover,
.toc li a:hover {
    /* `teal` theme color */
    color: #85FFE4;
    transition: color 1.5s;
}

/* Media queries ----------------------------- */

/* Small+ screens */
@media (min-width: 576px) {
    .navbar-title {
        font-size: 1.5rem;
        letter-spacing: 1.25rem;
    }

    .project-card .carousel-item img {
        max-height: 600px;
    }
}

/* Medium+ screens - mobile/tablet view */
@media (min-width: 768px) {
    .large-header {
        font-size: 8rem;
    }
}

/* Large+ screens - desktop view */
@media (min-width: 992px) {
    #sidebar {
        height: 100vh;
        /* `secondary` theme color */
        border-left: 1px solid #1a1a1a;
        border-bottom: none;
    }
}

/* Extra, extra large screens */
@media (min-width: 1500px) {
    #sidebar {
        /* equivalent to `col-2.5` */
        width: 20.83%
    }
}

/* Theme colors ------------------------------ */

/* `red` theme color */
/* #E6330B */

/* `orange` theme color */
/* #FF9320 */

/* `yellow` theme color */
/* #FFC107 */

/* `green` theme color */
/* #7EE692 */

/* `teal` theme color */
/* #85FFE4 */

/* `cyan` theme color */
/* #97E3F1 */

/* `blue` theme color */
/* #415EF1 */

/* `indigo` theme color */
/* #5F1FCF */

/* `purple` theme color */
/* #B987FA */

/* `primary` theme color */
/* rgba(255, 193, 7, 0.15) */
/* #FFC107 */

/* `secondary` theme color */
/* Card background, code block background, tag background, form input borders */
/* Horizontal line dividers, sidebar border */
/* #1a1a1a */

/* `gray-100` theme color */
/* Inline code color */
/* #e0dcd9 */

/* `gray-200` theme color */
/* #e0dcd9 */

/* `gray-300` theme color */
/* `white` theme color (previously #f9f7f7) */
/* Base font color */
/* #c9c4c1 */

/* `gray-500` theme color */
/* `light` theme color */
/* Card text, sidebar preview text, project technologies list, search result dates, TOC links color */
/* #8a8a8a */
/* rgba(249, 247, 247, 1) */

/* `gray-600` theme color */
/* `muted` theme color */
/* Blog post header details, empty comments list text, comment details */
/* Search result preview text */
/* #5a5a5a */

/* `gray-900` theme color */
/* Website, sidebar background color */
/* #0d0d0d */
/* rgba(13, 13, 13, 0.5) */

/* `black` theme color */
/* Form input background color */
/* #080808 */